*{
    margin: 0;
    padding: 0;
}
body{
    font-family: Arial sans-serif;
    font-size:15;
}
h1
{
    font-family: 'Crete Round', serif;
    font-size: 45px;
}
h2
{
    font-size: 55px;
}
h3
{
    font-size: 30px;
}
h4
{
    font-size: 24px;
}
p
{
    line-height: 20px;
    color: #777;
}
ul
{
    list-style: none;
}
a
{
    text-decoration: none;
    color: #444;
}
a.active{
    color: greenyellow;
}
.wrapper
{
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.green
{
    color: greenyellow;
}
.clear
{
    clear: both;
}
small
{
    font-size: 13px;
    font-style:italic;
}

/* HEADER */

header
{
    height: 120px;
}
header h1
{
    float: left;
    margin-top: 32px;
}
header nav
{
    float: right;
    margin-top: 50px;
}
header nav ul li
{
    display: inline-block;
}
header nav ul li a
{
    text-transform: uppercase;
    font-weight: bold;
    margin-right: 20px;
}
header nav ul li a:hover{
    color:greenyellow;
}


/* formulaire */
.regform{
    width: 800px;
    background-color: rgb(0,0,0,6);
    margin:auto;
    color: greenyellow;
    padding: 10px 0px 10px 0px;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.main{
    background-color: rgb(0,0,0,5);
    width: 800px;
    margin: auto;
}
form{
    padding :10px;
}
fieldset{
    width: 100%;
}
legend{
    color: white;
    font-size: 18px;
    font-weight: 700;
}
label{
    margin-left: 25px;
    margin-top: 30px;
    width: 125px;
    color:white;
    font-size: 18px;
    font-weight: 700;
}
.inputs{
    position: relative;
    left: 200px;
    line-height:40px;
    border-radius: 6px;
    padding: 0px 22px;
    font-size: 16px;
}
select{
    position: relative;
    left: 200px;
    line-height:40px;
    border-radius: 6px;
    padding: 0px 22px;
    font-size: 16px;
}
.ok{
    background-color: greenyellow;
    margin: 15px 0px 0px 15px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #366473;
    padding: 14px 110px;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}
.no{
    background-color: firebrick;
    margin: 15px 0px 0px 15px;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #366473;
    padding: 14px 110px;
    color: white;
    cursor: pointer;
    transition: 0.25px;
}

/*Contact*/

#contact{
    padding: 60px 0;
    text-align: center;
}
#contact h3{
    width: 400px;
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom: 1px solid #02b8dd;
    padding-bottom: 20px;
}
form{
    margin: 60px 0 20px 0;
}
label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color:#777;
}
input[type="text"]{
    padding: 10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}
.button-3{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 11px;
    background-color: #02b8dd;
    border-style: none;
    border-radius: 3px;
    
}
.button-3:hover{
    color: #fff;
    background-color: #444;
}
/*Footer*/
footer{
    height: 260px;
    background-color: #444;
}
footer h1{
    color: #fff;
    text-align: center;
    padding-top: 80px;
    
}
.copyright{
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
    color: #777;
}
.wrapper-g{
    background-color: lightgray;
}